body {
	margin:0;
	padding:0;
	background-color:#fff;
	font-family: 'Lato', sans-serif;
}
.outer {
  display: table;
  position: absolute;
  width: 100%;
  height: 100%;
}
.inner {
  display: table-cell;
  vertical-align: middle;
}


/* homepage */
#alpha-form {
	text-align:center;
}
#alpha-form input,
#alpha-form label {
	font-size:3.5em;
}
#alpha-form input {
	overflow:hidden;
	border:none;
	color:#333;
	font-family:'Lato', sans-serif;
  font-weight:300;
  background-color:transparent;
}
#alpha-form label {
	font-family:'Lato', sans-serif;
  font-weight:600;
	color:#999;
	-webkit-transition: .5s;
	   -moz-transition: .5s;
	    -ms-transition: .5s;
	     -o-transition: .5s;
	        transition: .5s;
}
#alpha-form input:focus {
	outline:none;
}
::-webkit-input-placeholder { color:#e5e5e5; }
:-moz-placeholder { color:#e5e5e5; }
::-moz-placeholder { color:#e5e5e5; }
:-ms-input-placeholder { color:#e5e5e5; }
#alpha-form input#input-hex {
	width:4em;
	margin-right:10px;
}
#alpha-form input#input-alpha {
	text-align:right;
	width:1.7em;
}
#alpha-form input[type="submit"] {
	color:#c0c0c0;
	background-color:transparent;
	border:2px solid #c0c0c0;
	border-radius:100%;
	font-size:3em;
	padding:.1em .3em;
	margin-top:20px;
	cursor:pointer;
	opacity:0;
	-webkit-transition: .5s;
	   -moz-transition: .5s;
	    -ms-transition: .5s;
	     -o-transition: .5s;
	        transition: .5s;
}

/* color check page */
h1 {
	padding:0;
	margin:0;
	font-size:5em;
	color:#fff;
	letter-spacing: .1em;
	font-weight:500;
	text-shadow:1px 1px 4px #666;
}
h1 span {
	font-weight:100;
}
.color-brick {
	width:100%;
	padding:125px 0;
	text-align:center;
	margin-bottom:5px;
}
.trans {
	list-style-type: none;
	margin:0;
	padding:0;
	clear:both;
}
.trans li {
	color:#fff;
	text-shadow:1px 1px 4px #000;
	float:left;
	margin:0;
	text-align:center;
	width:10%;
	padding:20px 0;
}
.trans li.a100 { opacity: 1; }
.trans li.a090 { opacity: .9; }
.trans li.a080 { opacity: .8; }
.trans li.a070 { opacity: .7; }
.trans li.a060 { opacity: .6; }
.trans li.a050 { opacity: .5; }
.trans li.a040 { opacity: .4; }
.trans li.a030 { opacity: .3; }
.trans li.a020 { opacity: .2; }
.trans li.a010 { opacity: .1; }